<a href="https://colab.research.google.com/github/kritika312/Machine-Learning-CSE4020/blob/main/explore%20dataset%20using%20pandas/19BCE1469_ML_LAB2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Kritka Aneja  ( 19BCE1469)**

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('KDDTest.csv')

df

          id  'duration'  ... 'dst_host_srv_rerror_rate'  'class'
0          1           0  ...                       1.00  anomaly
1          2           0  ...                       1.00  anomaly
2          3           2  ...                       0.00   normal
3          4           0  ...                       0.00  anomaly
4          5           1  ...                       0.71  anomaly
...      ...         ...  ...                        ...      ...
22539  22540           0  ...                       0.00   normal
22540  22541           0  ...                       0.00   normal
22541  22542           0  ...                       0.07  anomaly
22542  22543           0  ...                       0.00   normal
22543  22544           0  ...                       1.00  anomaly

[22544 rows x 43 columns]

In [ ]:
#information about dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22544 entries, 0 to 22543
Data columns (total 43 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   id                             22544 non-null  int64
 1   'duration'                     22544 non-null  int64
 2   'protocol_type'                22544 non-null  object
 3   'service'                      22544 non-null  object
 4   'flag'                         22544 non-null  object
 5   'src_bytes'                    22544 non-null  int64
 6   'dst_bytes'                    22544 non-null  int64
 7   'land'                         22544 non-null  int64
 8   'wrong_fragment'               22544 non-null  int64
 9   'urgent'                       22544 non-null  int64
 10  'hot'                          22544 non-null  int64
 11  'num_failed_logins'            22544 non-null  int64
 12  'logged_in'                    22544 non-null  int64
 13  'num_compromised'              22544 non-null  int64
 14  'root_shell'                   22544 non-null  int64
 15  'su_attempted'                 22544 non-null  int64
 16  'num_root'                     22544 non-null  int64
 17  'num_file_creations'           22544 non-null  int64
 18  'num_shells'                   22544 non-null  int64
 19  'num_access_files'             22544 non-null  int64
 20  'num_outbound_cmds'            22544 non-null  int64
 21  'is_host_login'                22544 non-null  int64
 22  'is_guest_login'               22544 non-null  int64
 23  'count'                        22544 non-null  int64
 24  'srv_count'                    22544 non-null  int64
 25  'serror_rate'                  22544 non-null  float64
 26  'srv_serror_rate'              22544 non-null  float64
 27  'rerror_rate'                  22544 non-null  float64
 28  'srv_rerror_rate'              22544 non-null  float64
 29  'same_srv_rate'                22544 non-null  float64
 30  'diff_srv_rate'                22544 non-null  float64
 31  'srv_diff_host_rate'           22544 non-null  float64
 32  'dst_host_count'               22544 non-null  int64
 33  'dst_host_srv_count'           22544 non-null  int64
 34  'dst_host_same_srv_rate'       22544 non-null  float64
 35  'dst_host_diff_srv_rate'       22544 non-null  float64
 36  'dst_host_same_src_port_rate'  22544 non-null  float64
 37  'dst_host_srv_diff_host_rate'  22544 non-null  float64
 38  'dst_host_serror_rate'         22544 non-null  float64
 39  'dst_host_srv_serror_rate'     22544 non-null  float64
 40  'dst_host_rerror_rate'         22544 non-null  float64
 41  'dst_host_srv_rerror_rate'     22544 non-null  float64
 42  'class'                        22544 non-null  object
dtypes: float64(15), int64(24), object(4)
memory usage: 7.4+ MB

In [ ]:
#print bottom rows
df.tail(2)

          id  'duration'  ... 'dst_host_srv_rerror_rate'  'class'
22542  22543           0  ...                        0.0   normal
22543  22544           0  ...                        1.0  anomaly

[2 rows x 43 columns]

In [ ]:
# print top 6 rows
df.head(6)

   id  'duration'  ... 'dst_host_srv_rerror_rate'  'class'
0   1           0  ...                       1.00  anomaly
1   2           0  ...                       1.00  anomaly
2   3           2  ...                       0.00   normal
3   4           0  ...                       0.00  anomaly
4   5           1  ...                       0.71  anomaly
5   6           0  ...                       0.00   normal

[6 rows x 43 columns]

In [ ]:
df.shape

(22544, 43)

In [ ]:
# get a summary of the distribution of continuous variables
df.describe

<bound method NDFrame.describe of           id  'duration'  ... 'dst_host_srv_rerror_rate'  'class'
0          1           0  ...                       1.00  anomaly
1          2           0  ...                       1.00  anomaly
2          3           2  ...                       0.00   normal
3          4           0  ...                       0.00  anomaly
4          5           1  ...                       0.71  anomaly
...      ...         ...  ...                        ...      ...
22539  22540           0  ...                       0.00   normal
22540  22541           0  ...                       0.00   normal
22541  22542           0  ...                       0.07  anomaly
22542  22543           0  ...                       0.00   normal
22543  22544           0  ...                       1.00  anomaly

[22544 rows x 43 columns]>

In [ ]:
print(df.columns)

Index(['id', ''duration'', ''protocol_type'', ''service'', ''flag'',
       ''src_bytes'', ''dst_bytes'', ''land'', ''wrong_fragment'', ''urgent'',
       ''hot'', ''num_failed_logins'', ''logged_in'', ''num_compromised'',
       ''root_shell'', ''su_attempted'', ''num_root'', ''num_file_creations'',
       ''num_shells'', ''num_access_files'', ''num_outbound_cmds'',
       ''is_host_login'', ''is_guest_login'', ''count'', ''srv_count'',
       ''serror_rate'', ''srv_serror_rate'', ''rerror_rate'',
       ''srv_rerror_rate'', ''same_srv_rate'', ''diff_srv_rate'',
       ''srv_diff_host_rate'', ''dst_host_count'', ''dst_host_srv_count'',
       ''dst_host_same_srv_rate'', ''dst_host_diff_srv_rate'',
       ''dst_host_same_src_port_rate'', ''dst_host_srv_diff_host_rate'',
       ''dst_host_serror_rate'', ''dst_host_srv_serror_rate'',
       ''dst_host_rerror_rate'', ''dst_host_srv_rerror_rate'', ''class''],
      dtype='object')

In [ ]:
df['\'service\''].describe()

count     22544
unique       64
top        http
freq       7853
Name: 'service', dtype: object

In [ ]:
# .value_counts() can tell us the frequency of all values in a column
df['\'service\''].value_counts().head(10)

http        7853
private     4774
telnet      1626
pop_3       1019
smtp         934
domain_u     894
ftp_data     851
other        838
ecr_i        752
ftp          692
Name: 'service', dtype: int64

In [ ]:
#handling duplicates
temp_df = df.append(df)

temp_df.shape

(45088, 44)

In [ ]:
temp_df = temp_df.drop_duplicates()

temp_df.shape

(22544, 44)

In [ ]:
temp_df = df.append(df)  # make a new copy

temp_df.drop_duplicates(inplace=True, keep=False)

temp_df.shape

(0, 44)

In [ ]:
protocol_type_col = df['\'protocol_type\'']

type(protocol_type_col)

pandas.core.series.Series

In [ ]:
protocol_type_col = df[['\'protocol_type\'']]

type(protocol_type_col)

pandas.core.frame.DataFrame

In [ ]:
subset = df[['\'protocol_type\'', '\'service\'']]

subset.head(6)

  'protocol_type' 'service'
0             tcp   private
1             tcp   private
2             tcp  ftp_data
3            icmp     eco_i
4             tcp    telnet
5             tcp      http

In [ ]:
# conditional selection
condition = (df['\'protocol_type\''] == "tcp")

condition.head(6)

0     True
1     True
2     True
3    False
4     True
5     True
Name: 'protocol_type', dtype: bool

In [ ]:
df[df['\'protocol_type\''] == "tcp"].head(6)

   id  'duration'  ... 'dst_host_srv_rerror_rate'  'class'
0   1           0  ...                       1.00  anomaly
1   2           0  ...                       1.00  anomaly
2   3           2  ...                       0.00   normal
4   5           1  ...                       0.71  anomaly
5   6           0  ...                       0.00   normal
6   7           0  ...                       0.04   normal

[6 rows x 43 columns]

In [ ]:
# Applying functions
def service_function(x):
    if x == 'private':
        return "good"
    else:
        return "bad"

In [ ]:
df["service_category"] = df["\'service\'"].apply(service_function)

df.head(4)

   id  'duration'  ...  'class' service_category
0   1           0  ...  anomaly             good
1   2           0  ...  anomaly             good
2   3           2  ...   normal              bad
3   4           0  ...  anomaly              bad

[4 rows x 44 columns]